/*
- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)
- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)
*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

body{
    margin: 0;
    padding: 0;
}


/*1st Part- top Container*/
.top .container{
    margin: 0;
    padding: 0;
    background-image: url('images/mobile/image-header.jpg');
    background-size: 500px;
    width: 500px;      
    height: 715px; 
    background-repeat: no-repeat;
    font-family: Fraunces;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    padding: 3em 2em;
}
nav{
    display: none;
}
.top a{
    text-decoration: none;
    color: white;
    font-size: 2.8em;
    margin-right: 3em;  
}
.hamburger{
    margin-top: -1em;
    right: 0;
    height: 1.4em;
    cursor: pointer;
}
.top h1{
    font-size: 3.4em;
    text-align: center;
    letter-spacing: .2em;
    margin-top: 2em;
}
.down-arrow{
    margin: 3em 12em 0;
    height: 11em;
}


/*2nd Part- tranform Container*/
.transform .container{
    margin:0;    
    padding: 0;
    box-sizing: border-box;
    width: 500px;
}

.transform img{
    width: 100%;
}

.desktop-image{
    display: none;
}
.transform h1{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 3em;
    text-align: center;  
    margin-top: 2em;  
}

.transform p{
    padding: 0 1.3em;
    font-family: Barlow;
    color: hsl(210, 4%, 67%);
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.8em;
    margin-top: 1.5em;
}
.transform .learn-more{
    text-align: center;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    margin-top: 2em;
    margin-bottom: 3.2em;
    text-decoration: underline 10px solid hsl(51, 100%, 49%);
}

/*3rd Part- stand-out Container*/
.stand-out .container{
    margin:0;    
    padding: 0;
    box-sizing: border-box;
    width: 500px;
}
.stand-out img{
    width: 100%;
}

.stand-out h1{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 3em;
    text-align: center;  
    margin-top: 2em; 
}

.stand-out p{
    padding: 0 1.3em;
    font-family: Barlow;
    color: hsl(210, 4%, 67%);
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.8em;
    margin-top: 1.5em;
}

.stand-out .learn-more{
    text-align: center;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    margin-top: 2em;
    margin-bottom: 4.5em;
    text-decoration: underline 10px solid hsl(7, 99%, 70%);
}


/*4th Part- design Container*/

.design{
    box-sizing: border-box;
    width: 500px;
    height: 800px;
    background-image: url('images/mobile/image-graphic-design.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: hsl(167, 40%, 24%);
    
}

.design h1{
    text-align: center;
    padding-top: 13em;
    font-family:Fraunces ;
    font-weight: 900;
    font-size: 2.5em;
}
.design p{
    text-align: center;
    padding: 1.5em 1em 0;
    font-family:Barlow ;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 2em;
}


/*5th Part- photography Container*/

.photography{
    box-sizing: border-box;
    width: 500px;
    height: 800px;
    background-image: url('images/mobile/image-photography.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: hsl(198, 62%, 26%)
}

.photography h1{
    text-align: center;
    padding-top: 13em;
    font-family:Fraunces ;
    font-weight: 900;
    font-size: 2.5em;
}
.photography p{
    text-align: center;
    padding: 1.5em 1em 0;
    font-family:Barlow ;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 2em;
}

/*6th Part- testimonial Container*/

.testimonial .container{
    box-sizing: border-box;
    width: 500px;
    margin: 0;
    padding: 0;
}
.testimonial h1{
    text-transform: uppercase;
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
    color: hsl(210, 4%, 67%);
    font-size: 1.5em;
    margin-top: 4em;
    letter-spacing: 0.2em;    
}
.testimonial li{
    list-style-type: none;
    margin-top: 5em;
}
.testimonial img{
    margin-left: 11em;
    border-radius: 50%;
    width: 105px;
}
.testimonial blockquote{
    text-align: center;
    font-family: Barlow;
    font-size: 1.6em;
    margin: 2em 0 1.5em;
    line-height: 2em;
    color: hsl(213, 9%, 39%);
}
.testimonial name{
    margin: 0 0 0 7em;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 1.6em;
}
.testimonial p{
    text-align: center;
    font-family: Barlow;
    font-weight: 600;
    font-size: 1.4em;
    color: hsl(210, 4%, 67%);
    margin-top: 0.5em;
    margin-bottom: 4em;
}


/*7th Part- photos Container*/
.photos .container ul{
    margin: 8em 0 -500px 0;
    padding: 0;
}
.photos ul{
    box-sizing: border-box;
    list-style-type: none;
    margin: 8em 0 0 0;
}
.photos img{
    width: 250px;
}
.photos .top-left{
    margin-left: -0.71em;
    position: relative;
    top: 0;
    left: 0;
}
.photos .top-right{
    margin-left: -0.71em;
    position: relative;
    top: -250px;
    left: 250px;
}
.photos .bottom-left{
    margin-left: -0.71em;
    position: relative;
    top: -250px;
    left: 0;
}
.photos .bottom-right{
    margin-left: -0.71em;
    position: relative;
    top: -500px;
    left: 250px;
}

/*8th Part- bottom Container*/
.bottom{
    box-sizing: border-box;
    height: 400px;
    width: 500px;
    background-color: rgba(69, 140, 126, 0.45); 
    
}
.bottom a{
    text-decoration: none;
    margin-left: 1.5em;
    color:hsl(168, 34%, 41%);
    font-family: Fraunces;
    font-weight: 900;
    font-size: 3.5em;
}
.bottom .about {
    list-style-type: none;
    display: flex;
    margin: 4em 0;
}
.bottom .about li{
    margin-right: 4em;
    color:hsl(168, 34%, 41%);
    font-family: Barlow;
    font-weight: 600;
    font-size: 1.5em;
}
.bottom .Social-media {
    list-style-type: none;
    display: flex;
    margin: 7em 0 2em 6em;
    
}
.bottom img{
    margin-right: 2.8em;
    width: 30px;
    
}


.attribution{
    font-size: 14px; 
    text-align: center;
    background-color: rgba(69, 140, 126, 0.45); 
    width: 500px;
    height: 100px;
    padding-top: 50px;
}
.attribution a{  
    color: hsl(342, 100%, 50%);
    text-decoration: none;
    font-weight: bold;
}





























































/*
body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    Font-size: 18px;
}
#header{
   width: 100%;
   height: 800px;
   text-align: center;
   background-image:url("./images/desktop/image-header.jpg");
   background-size: 100% 800px;
   background-repeat: no-repeat;
   margin: 0%;
   padding:0% ;
}

#transform{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    //border: 10px solid black;
    background-image: url("./images/desktop/image-transform.jpg");
    text-align: right;
    background-repeat: no-repeat;

}
*/
